*{padding:0; margin:0;}

body {
    background-image: url("bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.lace-box {
    width: 1250px;
    margin: 56px auto 112px;
    position: relative;
    padding: 0 16px;
    background-image: url(windo3-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    outline: auto;
    padding: 3px;
}

.rotated-image {
    transform: rotate(350deg);
    position: absolute;
    left: 750px;
    top: 300px;
    z-index: 0;
}

.hexagonal {
    position: absolute;
    left: 600px;
    top: 500px;
    z-index: 1;
}

.windo-name {
    transform: rotate(350deg);
    position: absolute;
    left: 580px;
    top: 350px;
}

.windo-icon img[src*="icon3.png"] {
    position: absolute;
    left: 240px;
    top: 600px;
    z-index: 10;
    -webkit-animation: windo-icon 2s linear 0s infinite alternate;
          animation: windo-icon 2s linear 0s infinite alternate;
}

@-webkit-keyframes windo-icon {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); } 
}

@keyframes windo-icon {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); }
}

.sprite {
  position: relative;
  margin: 30px;
  width: 300px;
  height: 300px;
  top: -100px;
}

.button-left {
    position: absolute;
    top: 620px;
    left: 30px;
    border-radius: 50%;
}

.button-right {
    position: absolute;
    top: 620px;
    left: 490px;
    border-radius: 50%;
}

.site-footer {
    color: #fff;
    background: #000;
    padding: 20px 0 20px;
    margin: 0;
}
.site-footer p {
    text-align: center; 
}