*{padding:0; margin:0;}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.lace-box {
    width: 1250px;
    margin: 56px auto 112px;
    position: relative;
    padding: 0 16px;
    background-image: url(windo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    outline: auto;
    padding: 3px;
}

.rotated-image {
    transform: rotate(350deg);
    position: absolute;
    left: 750px;
    top: 420px;
    z-index: 0;
}

.hexagonal {
    position: absolute;
    left: 600px;
    top: 540px;
    z-index: 1;
}

.windo-name {
    transform: rotate(350deg);
    position: absolute;
    left: 580px;
    top: 420px;
}

.windo-icon img[src*="icon.png"] {
    position: absolute;
    left: 170px;
    top: 700px;
    z-index: 10;
    -webkit-animation: windo-icon 2s linear 0s infinite alternate;
          animation: windo-icon 2s linear 0s infinite alternate;
}

@-webkit-keyframes windo-icon {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); } 
}

@keyframes windo-icon {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); }
}

.button-left {
    position: absolute;
    top: 725px;
    left: 30px;
    border-radius: 50%;
}

.button-right {
    position: absolute;
    top: 725px;
    left: 340px;
    border-radius: 50%;
}

.sprite {
  position: relative;
  margin: 30px;
  width: 300px;
  height: 300px;
}

.sprite img {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.expression-container[data-expr="1"] img:nth-child(1) { opacity: 1; }
.expression-container[data-expr="2"] img:nth-child(2) { opacity: 1; }
.expression-container[data-expr="3"] img:nth-child(3) { opacity: 1; }
.expression-container[data-expr="4"] img:nth-child(4) { opacity: 1; }
.expression-container[data-expr="5"] img:nth-child(5) { opacity: 1; }
.expression-container[data-expr="6"] img:nth-child(6) { opacity: 1; }
.expression-container[data-expr="7"] img:nth-child(7) { opacity: 1; }
.expression-container[data-expr="8"] img:nth-child(8) { opacity: 1; }
.expression-container[data-expr="9"] img:nth-child(9) { opacity: 1; }
.expression-container[data-expr="10"] img:nth-child(10) { opacity: 1; }
.expression-container[data-expr="11"] img:nth-child(11) { opacity: 1; }
.expression-container[data-expr="12"] img:nth-child(12) { opacity: 1; }
.expression-container[data-expr="13"] img:nth-child(13) { opacity: 1; }

.site-footer {
    color: #fff;
    background: #000;
    padding: 20px 0 20px;
    margin: 0;
}
.site-footer p {
    text-align: center; 
}